@model InventoryApp.Models.Order

@{
    ViewBag.Title = "Cancel order";
}

<h2>Cancel order</h2>

<h3>Are you sure you want to cancel this order?</h3>
<div>
    <div class="@ViewBag.Hidden alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>We're sorry.</strong> This order cannot be cancelled. Make some changes in inventory and try again.
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading"><h3 class="panel-title">Order</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="thumbnail">
                        <img src="@Url.Action("Image", "Items", new { id = Model.ItemId })" style="max-height: 200px" />
                    </div>
                </div>
                <div class="col-md-10">
                    <strong>Item name: </strong>
                    <p>@Html.DisplayFor(model => model.Item.Name)</p>
                    <strong>Date: </strong><p>@Html.DisplayFor(model => model.Date)</p>
                    <hr />
                    <strong>@Html.DisplayNameFor(model => model.Quantity): </strong>
                    @Html.DisplayFor(model => model.Quantity)
                    <h3>
                        Total: @string.Format("{0:C0}", Model.Quantity * Model.Item.Price)
                        <small>(@string.Format("{0:C0} each unit", Model.Item.Price))</small>
                    </h3>

                </div>
            </div>
        </div>
    </div>
</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancel this order" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", "Orders", null, new { @class = "btn btn-default" })
        </div>
    }