@model InventoryApp.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <div class="each-item">
        <img src='@Url.Action("Image", "Items", new { id = Model.Item.Id })' style="height: 100px; width: 100px;" /><br />
        <text class="item-detail" style="font-weight:bold">@Html.DisplayFor(model => model.Item.Name)</text><br />
        <text class="item-detail">Email:&nbsp; @Html.DisplayFor(model => model.ApplicationUser.Email)</text><br />
        <text class="item-detail">Quantity:&nbsp; @Html.DisplayFor(model => model.Quantity)</text><br />
        <text class="item-detail">Item Price:&nbsp;$ @Html.DisplayFor(model => model.Item.Price)</text><br />
        <text class="item-detail">Type:&nbsp;@Html.DisplayFor(model => model.Type)</text><br />
        <text class="item-detail">Date:&nbsp;@Html.DisplayFor(model => model.Date)</text><br />
    </div>
</div>

