@model IEnumerable<InventoryApp.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Item Management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="item-grid">
    @foreach (var item in Model)
    {
        <div class="col-md-3 each-item">
            <img src='@Url.Action("Image", "Items", new { id = item.Id })' style="height: 100px; width: 100px;" /><br />
            <text class="item-detail" style="font-weight:bold">@Html.DisplayFor(modelItem => item.Name)</text><br />
            <text class="item-detail">Threshold:&nbsp; @Html.DisplayFor(modelItem => item.Threshold)</text><br />
            <text class="item-detail">Price:&nbsp;$@Html.DisplayFor(modelItem => item.Price)</text><br />
            <text class="item-detail">Quantity:&nbsp;@Html.DisplayFor(modelItem => item.Quantity)</text><br />
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
    }
</div>
