@model InventoryApp.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <div class="each-item">
        <img src='@Url.Action("Image", "Items", new { id = Model.Id })' style="height: 100px; width: 100px;" /><br />
        <text class="item-detail" style="font-weight:bold">@Html.DisplayFor(model => model.Name)</text><br />
        <text class="item-detail">Threshold:&nbsp; @Html.DisplayFor(model => model.Threshold)</text><br />
        <text class="item-detail">Price:&nbsp;$@Html.DisplayFor(model => model.Price)</text><br />
        <text class="item-detail">Quantity:&nbsp;@Html.DisplayFor(model => model.Quantity)</text><br />
        <text class="item-detail">Description:&nbsp;@Html.DisplayFor(model => model.Description)</text><br />
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
